.iframeGetting{
    padding-top: 10px;
}

.iframeGettingTitle{
    color: #284974;
    font-weight: bold;
    padding: 6px 0px 6px 60px;
    background: url(/images/cpo-top-title.png);
}

.iframeGettingContent{
    margin-top: 10px;
    font-size: 14px;
}