.navbarZoom {
    background-color: black;
    padding: 7px 9px;

    & button {
        border: none;
        color: red;
        background-color: white;
        margin-top: 10px;
        padding: 4px 12px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 15px;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}
