.xosoOpenCalendar {
    width: 100%;
    @media only screen and (max-width: 680px) {
        & {
            width: 80%;
            margin: 15px auto;
        }
    }

    &Title {
        font-size: 18px;
        color: white;
        text-align: center;
        padding: 13px 8px;
        background: linear-gradient(to top, #a0522c 0%, #e3905c 100%);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin: 0;
        font-weight: bold;
    }

    & table {
        border-collapse: collapse;
        width: 100%;
        & thead tr:first-child {
            background-color: #dbf1ff;
            height: 40px;
            & td {
                font-weight: bold;
            }
        }
        & tr td {
            text-align: center;
            border: 1px solid #cacaca;
            font-size: 12px;
        }

        & tbody tr:first-child {
            &:hover {
                background-color: rgb(218, 218, 218);
            }
            background-color: rgb(236, 236, 236);
            height: 35px;
        }

        & tbody tr:not(:first-child) {
            background-color: rgb(236, 236, 236);
            &:hover {
                background-color: rgb(218, 218, 218);
            }
            & td p {
                margin: 0;
            }

            & td {
                padding: 5px;
            }
        }
        & tbody tr:last-child {
            & td:last-child {
                border-bottom-right-radius: 8px;
            }

            & td:first-child {
                border-bottom-left-radius: 8px;
            }
        }
    }
}
