.title {
    margin-top: 15px;
    color: #284974;
    font-size: 15px;
    font-weight: 700;
    background: url('/images/cpo-top-title.png') top left no-repeat;
    padding: 3px 0 7px 60px;
}

.content table {
    margin-top: 10px;
}

.content table td {
    border: 1px solid #999;
    line-height: 150%;
}
